<!doctype html>
<html>
	<head>
		<title>Etherpad</title>

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link rel="shortcut icon" href="favicon.ico">

		<link rel="localizations" type="application/l10n+json" href="locales.json">
		<script type="text/javascript" src="../static/js/html10n.js"></script>
		<script type="text/javascript" src="../static/js/l10n.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<script src="../static/plugins/ep_maadix/static/js/client/less.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/jquery.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/documentReadyRefresh.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/retina.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/etherpad.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/slimtable.js" type="text/javascript"></script>		
		<link href="../static/plugins/ep_maadix/static/css/custom.css" rel="stylesheet"> 
	</head>
	<body>
	<header>
		<div class="header-block header-block-buttons">
			<a class="btn btn-sm header-btn" href="/dashboard">My Groups</a> | 
			<a class="btn btn-sm header-btn">My Pads</a> | 
			<a class="btn btn-sm header-btn">My Profile</a> 
		</div>
	        <div class="header-block header-block-nav">
				<span class="name"><%= username %></span> | <a class="dropdown-item" href="/logout">Logout</a>
		</div>

	</header>	
               <article class="content items-list-page">
                    <div id="wrapper" class="title-search-block">
                        <div class="title-block">
                            <div class="row">
				<h2 class="title" lang="en">Group: <%=id%> </h2>
				<hr class="blue">
                                <div class="col-md-6">
                                    <h3 class="subtitle" lang="en"> Pad List</h3>
				</div>
				<div class="col-md-6">
					<form class="search"><input type="text" data-groupid="<%=groupid%>" id="search" placeholder="Search"></input></form>
				</div>
			    </div><!--row-->	
			    <div class="clear"></div>
			    <hr>	
			    <div class="inputBlock">
				<h4 lang="en">Add a Private Pad to this Group</h4>
				<form id="createPrivatePadForm">
					<input  type="text" placeholder="Pad-Name" id="createGroupPad" autocomplete="off">
					<button data-groupid="<%= groupid %>" type="submit" lang="en" id="createPrivateGroupPad">Create</button>
				</form>
			    </div><!--input block-->

			</div><!--title-block-->
			<%if (pads.length > 0) {%> 
				<table id="padstable">
				<thead>
					<tr>
						<th>Pad Title</th>
						<th>Last edit</th>
						<th>Delete</th>
					<tr>
				</thead>
				<tbody>
				<% for(var i = 1; i <= pads.length; i++){%>
					<tr>
						<td class="first"><a class="padClick" data-groupid="<%=groupid%>" data-name="<%=pads[i-1].name%>"><%= pads[i-1].name%></a></td>
						<td class="editDate" sort-data="<%=pads[i-1].timestampedit%>" data-timestampedit="<%=pads[i-1].timestampedit%>"><%=pads[i-1].lastedit%></td>
						<td title="Delete Pad" class="last">
						<% if (isowner) {%>
							<img data-padname="<%=pads[i-1].name%>" data-groupid = "<%= groupid %>" src="./../static/plugins/ep_user_pad_frontend/static/images/close-red-16.png" class="delete"></td>
						<%} else {%>
						Only available for goup owner
						<% } %>
					</tr>
				<% } %>
				</tbody>
				</table>

			<%} else {%>
				<h4 class="red" lang="en">There are no pads in this group.</h4>	
			<%}%>	
	</div><!--wrapper-->
	<div style="clear: both"></div>
	</article>
	 <script>
       		var getBaseURL = function(slice,cb){
       			var  loc = document.location, port = loc.port == "" ? (loc.protocol == "https:" ? 443
       					: 80)
       					: loc.port, url = loc.protocol + "//"
       					+ loc.hostname +":"+ loc.port, pathComponents = location.pathname
       					.split('/'),
       			// Strip admin/plugins
       			baseURL = pathComponents.slice(0,
       					pathComponents.length - slice).join('/')
       					+ '/';
       			
       			url = url + baseURL;
       			console.log(">>>>>");
       			console.log(url);
       			console.log("<<<<<<<<<");
       			cb(url);
       		};
		$("#padstable").slimtable({
			tableData: null,
			dataUrl: null,
			keepAttrs: ["data-timestampedit","data-groupid","data-name","data-padname"],

			itemsPerPage: 10,
			ipp_list: [5,10,20],

			colSettings: [1],
			sortList: [1],

			text1: "items/page",
			text2: "Loading...",

			sortStartCB: null,
			sortEndCB: null
		});

    		$(document).ready(function(){  			


    			$(".delete").click(function(){
    				$("#wrapper").append('<div id="overlay"></div>');
    				$("#wrapper").append('<div id="lightBox"><div id="lightBoxHeader"'+
    						'><span class="close"><img src="./../static/plugins/ep_user_pad_frontend/static/images/close-cyan-12.png"'+
    						'></span></div><div id="lightBoxMain">'+
    						'<div class="headline"><img src="./../static/plugins/ep_user_'+
    						'pad_frontend/static/images/close-red-32.png" class="headlineImage"'+
    						'alt="Delete"><h1 lang="en" class="red">Delete "'+ $(this).data('padname') + '"'+
    						'</h1></div><div class="content"><button lang="en" class="marginRight" id="deletePadButton"'+
    		   				'data-padname="'+$(this).data('padname')+'" data-groupid="'+$(this).data('groupid')+
    		   				'">'+
    						'Delete</button><button lang="en" id = "cancelDelete">Cancel</button></div></div></div>');
    				$("#lightBox").css("margin-top",-$("#lightBox").height()/2);
    			
    				$(".close").click(function(){
    					$("#overlay").remove();
    					$("#lightBox").remove();
    				});
    		   		$("#cancelDelete").click(function(){
    		   			console.log("clicked");
    		   			$("#overlay").remove();
    		   			$("#lightBox").remove();
    		   		});
    		   		
    		   	 $("#deletePadButton").click(function(){
    		  	    	console.log('clicked delete here');
    		  	    	var data = {};
    		  			getBaseURL(2,function(baseurl){
    		  				var loc = document.location;
    		  				url = baseurl;
	    		  	    	data.groupId = $("#deletePadButton").data('groupid');
	    		  			data.padName = $("#deletePadButton").data('padname');
	    		  			console.log(data);
	    		  	    	
	    		  			$.ajax({
	    		  				type: 'POST',
	    		  				data: JSON.stringify(data),
	    		  				contentType: 'application/json',
	    		  				url: url + 'deletePad',	
	    		  				success: function(data) {
	    		  						if(data.success){
	    		  							window.location = loc;
	    		  						}else{
	    		  							console.log(data.error);
	    		  						}	
	    		  				},
	    		  				error: function (xhr, ajaxOptions, thrownError) {
	    		  					console.log(thrownError);
								console.log('WTH');
	    		  				}
	    		  			});
    		  			});
    		  	    });
    			});
    		    	
    			
			});
    	</script>
	</body>	
</html>

