<!doctype html>
<html>
	<head>
		<title>Users</title>

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link rel="shortcut icon" href="../favicon.ico">

		<link rel="localizations" type="application/l10n+json" href="../locales.json">
		<script type="text/javascript" src="../static/js/html10n.js"></script>
		<script type="text/javascript" src="../static/js/l10n.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<script src="../static/plugins/ep_maadix/static/js/client/less.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/jquery.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/documentReadyRefresh.js" type="text/javascript"></script>
		<script src="../static/plugins/ep_maadix/static/js/client/retina.js" type="text/javascript"></script>
		
		<link href="../static/plugins/ep_maadix/static/css/custom.css" rel="stylesheet"> 
	</head>
	<body>
	<header>
            <div class="header-block header-block-buttons">
                <div class="header-block header-block-nav first">
                  <a class="btn btn-sm header-btn" href="../dashboard"><i class="demo-icon icon-home home-menu">&#xe81d;</i> My Groups</a> |
                        <% if (settings.public_pads) { %>
                          <a class="btn btn-sm header-btn" href="../home">Public Pad</a> |
                        <% } %>
                        <a class="btn btn-sm header-btn" href="../help">Help</a>
                </div>
                <div class="header-block header-block-nav second">
                  <ul id="profile">
                    <li>
                        <span class="name"><i class="demo-icon icon-user">&#xe800;</i>  <%= username %> <i class="demo-icon icon-down-dir-1">&#xe818;</i></span>
                      <ul>
                        <li><a class="dropdown-item" href="../user/<%= userid %>">My Profile</a></li>
                        <li><a class="dropdown-item" href="../logout">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            <h2 class="title center" lang="en">Users in Group <%=id%> </h2>
	</header>	
               <article class="content items-list-page">
                 <% if (groupid) { %>
                    <div id="wrapper" class="title-search-block">
                        <div class="title-block userlist">
                            <div class="row">
				<div class="col-md-9">
                                  <%if (role < 3) {%>
                                  <div class="inputBlock">
                                    <h4 lang="en" class="margintrop0">Invite user to this group</h4>
                                    <form id="InviteUserForm" class="margin20">
                                      <input  type="mail"  placeholder="User email" id="email" autocomplete="off" required>
                                        <div style="clear: both"></div>
                                        <div class="margin20">
                                        <p>Assign a role to new user for this Group</p>
                                        <input type="radio" name="userRole" value="3" checked="checked"> Group Author - Can create and edit Pads<br>
                                        <input type="radio" name="userRole" value="2"> Group Manager - Can create/edit/delete Pads and invite/remove Users<br>
                                        <%if (role == 1 ) {%>
                                        
                                        <input type="radio" name="userRole" value="1"> Group Admin - Can create/edit/delete Pads, invite/remove Users and delete this Group<br>
                                        <% } %>
                                        </div>
                                        <button data-groupid="<%= groupid %>" type="submit" lang="en" id="InviteUserToGroupForm">Add User</button>
                                    </form>

                                  </div>
                                  <% } %>

				</div>
                                <div class="col-md-3 margin20">
                                    <ul class="submenu">
                                        <li><a href="../group/<%= groupid %>">Pads List</a></li>
                                    </ul>
                                </div>

			    </div>	
			</div>
			<%if (users.length > 0) {%> 
				<table class="card items">
				<thead>
					<tr>
						<th>Name</th>
                                                <th>Email</th>
                                                <th class="wiprec-20">Role</th>
                                                <th>Active</th>
                                                <%if (role < 3) {%>
						<th>Remove</th>
                                                <% } %>
					<tr>
				</thead>
				<% for(var i = 1; i <= users.length; i++){%>
					<tr>
						<td class="first"><%= users[i-1].name%></td>
						<td class="editDate"><%=users[i-1].email%></td>
                                                <td class="userGroupRole" data-usergrouprole="<%=users[i-1].Role%>">
                                                  
                                                  <%if ((role < 3 && users[i-1].Role > 1) || ( role ==1 ) ) {%>
                                                  <form type="post">
                                                  <select id="changeRole" data-groupid="<%= groupid %>" data-userid="<%=users[i-1].userID%>">
                                                      <% for(var c = role; c <= 3; c++){%>                      
                                                        <% var currrorle= (c == users[i-1].Role) ? "selected":""%> 
                                                        <option <%=currrorle %> class="newrole" value="<%=c%>" data-groupid=" <%= groupid %>" data-userid="<%=users[i-1].userID%>"><%=c%></option>
                                                      <% } %>
                                                    </select>
                                                  </form>
                                                    <% } else { %>
                                                      <span class="textrole"><%=users[i-1].Role%></span>
                                                    <% } %>
                                                </td>
                                                <td class="editDate">
                                                <%if (users[i-1].active == 1) {%>Active<%}else {%>Inactive<%}%>
                                                </td>
                                                <%if (role < 3) {%>
						<td title="Delete User" class="last">
                                                    <a data-userid="<%=users[i-1].userID%>"  data-username="<%=users[i-1].name%>" data-groupid="<%= groupid %>" id="remove" class="delete"><i class="demo-icon icon-trash">&#xe801;</i></a></td>
                                                <% } %>
					</tr>
				<% } %>
				</table>

			</div>
			<%} else {%>
				<h4 class="red" lang="en">There are no users in this group.</h4>	
			<%}%>	
		</div>
	</div>
	<div style="clear: both"></div>
        <input id="baseurl" type="hidden" value="<%=baseurl%>"> 
        <% } else { %>
          <h2 class="title center">This group does not exists!</h2>
        <% } %>
	</article>
	 <script>
       		var getBaseURL = function(slice,cb){
       			var  loc = document.location, port = loc.port == "" ? (loc.protocol == "https:" ? 443
       					: 80)
       					: loc.port, url = loc.protocol + "//"
       					+ loc.hostname +":"+ loc.port, pathComponents = location.pathname
       					.split('/'),
       			// Strip admin/plugins
       			baseURL = pathComponents.slice(0,
       					pathComponents.length - slice).join('/')
       					+ '/';
       			
       			url = url + baseURL;
       			console.log(">>>>>");
       			console.log(url);
       			console.log("<<<<<<<<<");
       			cb(url);
       		};
    		$(document).ready(function(){  			
                  
    			$(".delete").click(function(){
    				$("#wrapper").append('<div id="overlay"></div>');
    				$("#wrapper").append('<div id="lightBox"><div id="lightBoxHeader"'+
    						'><span class="close"><img src="./../static/plugins/ep_user_pad_frontend/static/images/close-cyan-12.png"'+
    						'></span></div><div id="lightBoxMain">'+
    						'<div class="headline">'+
    						'<h1 lang="en" class="red">Remove  "'+ $(this).data('username') + '" from this group?'+
    						'</h1></div><div class="content"><button lang="en" class="marginRight" id="deleteUserButton"'+
    		   				'data-userid="'+$(this).data('userid')+'" data-groupid="'+$(this).data('groupid')+
    		   				'">'+
    						'Delete</button><button lang="en" id = "cancelDelete">Cancel</button></div></div></div>');
    				$("#lightBox").css("margin-top",-$("#lightBox").height()/2);
    			
    				$(".close").click(function(){
    					$("#overlay").remove();
    					$("#lightBox").remove();
    				});
    		   		$("#cancelDelete").click(function(){
    		   			console.log("clicked");
    		   			$("#overlay").remove();
    		   			$("#lightBox").remove();
    		   		});
    		   		
    		   	 $("#deleteUserButton").click(function(){
    		  	    	var data = {};
    		  			getBaseURL(2,function(baseurl){
    		  				var loc = document.location;
    		  				url = baseurl;
	    		  	    	        data.groupID = $("#deleteUserButton").data('groupid');
	    		  			data.userID = $("#deleteUserButton").data('userid');
	    		  			console.log(data);
	    		  	    	
	    		  			$.ajax({
	    		  				type: 'POST',
	    		  				data: JSON.stringify(data),
	    		  				contentType: 'application/json',
	    		  				url: url + 'deleteUserFromGroup',	
	    		  				success: function(data) {
	    		  						if(data.success){
	    		  							window.location = loc;
	    		  						}else{
	    		  							console.log(data.error);
	    		  						}	
	    		  				},
	    		  				error: function (xhr, ajaxOptions, thrownError) {
	    		  					console.log(thrownError);
								console.log('WTH');
	    		  				}
	    		  			});
    		  			});
    		  	    });
    			});
    		    	
    			
			});
    	</script>
	</body>	
</html>
<script src="../static/plugins/ep_maadix/static/js/client/end.js" type="text/javascript"></script>
