<!doctype html>
<html>
	<head>
		<title>Edit Pad</title>

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="localizations" type="application/l10n+json" href="locales.json">
                <script type="text/javascript" src="../../../static/js/html10n.js"></script>
                <script type="text/javascript" src="../../../static/js/l10n.js"></script>
                <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
                <script src="../../../static/plugins/ep_maadix/static/js/client/less.js" type="text/javascript"></script>
                <script src="../../../static/plugins/ep_maadix/static/js/client/jquery.js" type="text/javascript"></script>
                <script src="../../../static/plugins/ep_maadix/static/js/client/documentReadyRefresh.js" type="text/javascript"></script>
                <script src="../../../static/plugins/ep_maadix/static/js/client/retina.js" type="text/javascript"></script>
                
                <link href="../../../static/plugins/ep_maadix/static/css/custom.css" rel="stylesheet"> 

	</head>
	<body>
	<header>
                <div class="header-block header-block-buttons">
                  <a class="btn btn-sm header-btn" href="../../../dashboard"><i class="demo-icon icon-home home-menu">&#xe81d;</i> My Groups</a> |
                        <% if (settings.public_pads) { %>
                          <a class="btn btn-sm header-btn" href="../../../home">Public Pad</a> |
                        <% } %>
                        <a class="btn btn-sm header-btn" href="../../../help">Help</a>
                </div>
                <h5 class="title center padpage" lang="en">Pad title:  <%=padname%> </h5>
                <% if (groupName && groupID) { %>
                  <h5 class="title center padpage" lang="en"><a href="../../../group/<%= groupID%>">Pad list in group <%=groupName %></a></h5>
                <% } %>
                <div class="header-block header-block-nav">
                  <ul id="profile">
                    <li>
                        <span class="name"><i class="demo-icon icon-user">&#xe800;</i>  <%= username %> <i class="demo-icon icon-down-dir-1">&#xe818;</i></span>
                      <ul>
                        <li><a class="dropdown-item" href="../../../user/<%= userid %>">My Profile</a></li>
                        <li><a class="dropdown-item" href="../../../logout">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>

	</header>	
	<div id="main" >
		<div class="inside">
                    <% if (padurl && groupID) { %>
		    <iframe src="<%= padurl %>" width="100%" id="iframePad"></iframe>
                    <% } else { %>
                      <h2 class="title center">This pad does not exists</h2>
                    <% } %>
		</div>
	</div> 
	</body>	
</html>
<script src="../../../static/plugins/ep_maadix/static/js/client/end.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
  var curuser = $('#currentuser').data('username');
  console.log('Curuser ' + curuser);
  $('#myusernameedit').addClass('WTF').val(curuser);
});
</script>
